.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }
.menu__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(243, 240, 193);
    color: rgb(230, 0, 255);
    text-decoration: none;
   }
.auth{
    display: inline-block;
     padding: 10px;
     margin: 5px;
     background-color: rgb(243, 240, 193);
     color: rgb(230, 0, 255);
     text-decoration: none;
    }
.register{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(243, 240, 193);
    color: rgb(230, 0, 255);
    text-decoration: none;
    }
.header__logo-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    }
.header__logo-wrap{
    text-decoration: none;
    color: rgb(228, 7, 236);
    }
.header__title{
    margin: 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
       }      